    *{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}


.proverb {
  background: yellowgreen;
}

img {
    float: left;
    width: 14.28%;
    height: 14.28%;
    display: block;
}

p {
  position: absolute;
  display: block;
  bottom: 2px;
  right: 0px;
}

a {
  color: black;
  margin-right: 4pt;
}

a:hover {
  background-color: yellowgreen;
}

a:visited {
  color: black;
}